<table class="table table-data">
    <thead>
    <tr>
    <th>$12.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>Vodska&nbsp;&nbsp;&nbsp;&nbsp;<input size="5"  [(ngModel)]="vodska">&nbsp;<button class="btn btn-success" (click)="crearVodska()" >Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>Wisky&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input size="5" [(ngModel)]="wisky">&nbsp;<button class="btn btn-success" (click)="crearWisky()">Pagar</button>&nbsp;</td></tr>
        <tr>
            <td>Novel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="nobel">&nbsp;<button class="btn btn-success" (click)="crearNovel()">Pagar</button>&nbsp;</td>
            </tr>
            <tr>  <td>Jager&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input size="5" [(ngModel)]="jager">&nbsp;<button class="btn btn-success" (click)="crearJager()">Pagar</button>&nbsp;</td></tr>
            <tr>  <td>Campary&nbsp;&nbsp;&nbsp;<input size="5" [(ngModel)]="campary">&nbsp;<button class="btn btn-success" (click)="crearCampary()">Pagar</button>&nbsp;</td></tr>
           
                
        </tbody>
</table>   

