<table class="table table-data">
    <thead>
    <tr>
    <th>$80.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>B.Wisky.Rojo&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" size="5" [(ngModel)]="botellaWR">&nbsp;<button class="btn btn-success" (click)="crearBotellaWR()">Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>B.Pisco.Nobel&nbsp;&nbsp;<input  type="number" [(ngModel)]="botellaPN">&nbsp;<button class="btn btn-success" (click)="crearBotellaPN()">Pagar</button>&nbsp;</td></tr>
        <tr>
            <td>B.Ron&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" size="5" [(ngModel)]="botellaR">&nbsp;<button class="btn btn-success" (click)="crearBotellaR()" >Pagar</button>&nbsp;</td>
            </tr>
            
                
        </tbody>
</table>   

