<table class="table table-data">
    <thead>
    <tr>
    <th>$5.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>Bebida &nbsp;&nbsp;<input  size="5" [(ngModel)]="bebida">&nbsp;<button class="btn btn-success" (click)="crearBebida()" >Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>Tonica&nbsp;&nbsp;&nbsp;<input size="5" [(ngModel)]="tonica">&nbsp;<button class="btn btn-success" (click)="crearTonica()">Pagar</button>&nbsp;</td></tr>
        <tr>
            <td>Ener &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]='energetica'>&nbsp;<button class="btn btn-success" (click)="crearEnergetica()">Pagar</button>&nbsp;</td>
            </tr>
            <tr>  <td>Agua&nbsp;&nbsp;&nbsp;&nbsp; <input size="5"  [(ngModel)]="agua">&nbsp;<button class="btn btn-success" (click)="crearMineral()">Pagar</button>&nbsp;</td></tr>
    </tbody>
</table>   
