<table class="table table-data">
    <thead>
    <tr>
    <th>$10.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>Wisky &nbsp;&nbsp;&nbsp;&nbsp;<input size="5" [(ngModel)]="wisky">&nbsp;<button class="btn btn-success" (click)="crearWisky()" >Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>Cerveza&nbsp;&nbsp;<input  size="5"[(ngModel)]="cerveza">&nbsp;<button class="btn btn-success" (click)="crearCerveza()" >Pagar</button>&nbsp;</td></tr>
        <tr>
            <td>Piscola &nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="piscola">&nbsp;<button class="btn btn-success" (click)="crearPiscola()">Pagar</button>&nbsp;</td>
            </tr>
            <tr>  <td>Ron&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input  size="5"[(ngModel)]="ron" >&nbsp;<button class="btn btn-success" (click)="crearRon()">Pagar</button>&nbsp;</td></tr>
            <tr>  <td>Tequila&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5"[(ngModel)]="tequila" >&nbsp;<button class="btn btn-success" (click)="crearTequila()">Pagar</button>&nbsp;</td></tr>
            <tr>
                <td>Cocktel  &nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="cocktel" >&nbsp;<button class="btn btn-success" (click)="crearCocktel()">Pagar</button>&nbsp;</td>
                </tr>
                <tr>  <td>Cigarro&nbsp;&nbsp;&nbsp;&nbsp; <input  size="5" [(ngModel)]="cigarro" >&nbsp;<button class="btn btn-success" (click)="crearCigarro()">Pagar</button>&nbsp;</td></tr>
        </tbody>
</table>   

