<table class="table table-data">
    <thead>
    <tr>
    <th>$60.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>B.Pisco.Mistral&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]='botellaPM'>&nbsp;<button class="btn btn-success" (click)="crearBotellaM()">Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>B.Pisco.Alto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]='botellaPA'>&nbsp;<button class="btn btn-success" (click)="crearBotellaA()">Pagar</button>&nbsp;</td></tr>      
        </tbody>
</table>   

