<table class="table table-data">
    <thead>
    <tr>
    <th>$30.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>Wisky&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="wisky">&nbsp;<button class="btn btn-success" (click)="crearW()">Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>Green&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="wiskyG">&nbsp;<button class="btn btn-success" (click)="crearWG()">Pagar</button>&nbsp;</td></tr>
        <tr>
            <td>Gold&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="wiskyGold">&nbsp;<button class="btn btn-success" (click)="crearWGOLD()">Pagar</button>&nbsp;</td>
            </tr>
            <tr>  <td>Gentleman Jacks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input  size="5" [(ngModel)]="wiskyGen">&nbsp;<button class="btn btn-success" (click)="crearWGGentleman()">Pagar</button>&nbsp;</td></tr>
           
           
                
        </tbody>
</table>   

