<div class="modal-header" #modalone="bs-modal" bsModal>


    <h4 class="modal-title pull-left">Seleccione un trago</h4>
    
  </div>
  <div class="modal-body">
  <button style="aling-items: center;justify-content: center" #closebutton class=" color align-items-center" (click)="crearAccion20()" >$20.000</button>
  &nbsp;
  <button style="aling-items: center;justify-content: center" class=" color align-items-center" (click)="crearAccion30()" >$30.000</button>
  &nbsp;
  <button style="aling-items: center;justify-content: center" class=" color align-items-center" (click)="crearAccion40()" >$40.000</button>
  
  
  </div>
  
  
