<table class="table table-data">
    <thead>
    <tr>
    <th>$180.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>Jhonny Waker Green La&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="jhonnyGr">&nbsp;<button class="btn btn-success" (click)="crearJhonnyGreen()" >Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>Jhonny Waker Gold La&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="jhonnyGo">&nbsp;<button class="btn btn-success" (click)="crearJhonnyGolden()">Pagar</button>&nbsp;</td></tr>
        <tr>
            <td>Jacks Daniels Gentleman Jack&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="jackGen">&nbsp;<button class="btn btn-success" (click)="crearJackGen()" >Pagar</button>&nbsp;</td>
            </tr>
          
                
        </tbody>
</table>   
