<table class="table table-data">
    <thead>
    <tr>
    <th>$120.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>B.JackDaniels&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="jack">&nbsp;<button class="btn btn-success" (click)="crearBotellaJa()" >Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>B.ChivasRegal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="chivas">&nbsp;<button class="btn btn-success" (click)="crearBotellaChivas()">Pagar</button>&nbsp;</td></tr>
        <tr>
            <td>B.Jonny.Waker.Negro&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5"  [(ngModel)]="jhonny">&nbsp;<button class="btn btn-success"  (click)="crearBotellaJhonny()"  >Pagar</button>&nbsp;</td>
            </tr>
            <tr>  <td>Botella Jager&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input  size="5" [(ngModel)]="jager">&nbsp;<button class="btn btn-success" (click)="crearBotellaJager()">Pagar</button>&nbsp;</td></tr>
            <tr>  <td>Botella Vodska Absolut&nbsp;<input  size="5" [(ngModel)]="vodska">&nbsp;<button class="btn btn-success" (click)="crearBotellaVodska()">Pagar</button>&nbsp;</td></tr>
           
                
        </tbody>
</table>   

