/* You can add global styles to this file, and also import other style files */



.color:active{
    background: red;
    color: black;
    text-shadow: 1px 1px #fff;

   
}

.color:hover{background-color:orange}

.color:focus{background-color:red}
.color{

    background: blue;
    opacity: 2.0;
    color: white;
    border-color:4px black;
    border-style: groove;
}
table.redTable {
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
  }
  table.redTable tr:nth-child(even) {
    background: #F5C8BF;
  }
  table.redTable thead {
    background: #A40808;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }
  
  table.redTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #A40808;
  }
  table.redTable tfoot td {
    font-size: 13px;
  }
  table.redTable tfoot .links {
    text-align: right;
  }
  table.redTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }

  .main1-container {
    display: inline-flex;
    width: 100%;
    text-align: center;
  }
  
  .main1-container div {
    width: 40%;
    
    height: 350px;
  }
  
  .s {
    font-size: 30px;
    color: black;
    background-color: #c4c4c4cd;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 2px solid rgb(8, 7, 4);
    border-top: 2px solid rgb(8, 7, 4);
   
    
  }
  
  .a {
    
    margin-top: 4em;
    margin-bottom: 7em;
  }
  
  .x {
    background-color: rgb(4, 108, 194);
    padding: 15px 75px;
    border-radius: 2px;
    text-decoration: none;
  }
  
  .x:hover {
    background-color: #333;
    transition: ease .25s;
    color: rgb(231, 46, 216);
  }

  .navbar-color{
    background-color: white;

  }