<div class="modal-header" #modalone="bs-modal" bsModal>
    <h4 class="modal-title pull-left">Seleccione el Tipo de pago</h4>
  
  </div>
  
  <div class="modal-body">
  
    <div >
      

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger bg-primary" (click)="updateTar()"> Tarjeta</button>  
      &nbsp;&nbsp;&nbsp;
      
      <button class="btn btn-danger bg-primary" (click)="updateE()">Efectivo</button>  
      &nbsp;&nbsp;&nbsp;

      <button class="btn btn-danger bg-primary" (click)="updateTrans()">Transferencia</button>  
      &nbsp;&nbsp;&nbsp;
    </div>
    <div>
     
  
        
       
   
    </div>
  </div>
  
  
  
  
  
  <div class="modal-footer">
    <button type="button" class="btn btn-danger bg-danger" (click)="modalRef.hide()">Cancelar</button>
  </div>
