<table class="table table-data">
    <thead>
    <tr>
    <th>$15.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>Wisky&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="wisky">&nbsp;<button class="btn btn-success" (click)="crearWisky()">Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>Baylis&nbsp;&nbsp;<input  size="5" [(ngModel)]="beylis">&nbsp;<button class="btn btn-success" (click)="crearBaylis()">Pagar</button>&nbsp;</td></tr>
       
                
        </tbody>
</table>   

