<table class="table table-data">
    <thead>
    <tr>
    <th>$18.000</th>
    </tr>
    </thead>

    <tbody>
        <tr>
        <td>Wisky.B.&nbsp;&nbsp;&nbsp;&nbsp;<input  size="5" [(ngModel)]="wiskyB" >&nbsp;<button class="btn btn-success" (click)="crearWiskyB()" >Pagar</button>&nbsp;</td>
        </tr>
        <tr>  <td>Sheridans&nbsp;&nbsp;<input  size="5" [(ngModel)]="sheridans">&nbsp;<button class="btn btn-success" (click)="crearSheridans()">Pagar</button>&nbsp;</td></tr>
       
                
        </tbody>
</table>   

